[:find
 (pull ?base-image [{:docker.image/repository [:docker.repository/repository]}])
 ?tag
 :in $ $before-db %
 :where
 (tx-schedule ?schedule-parameter-name ?schedule-timezone)

 ;; all head commits of default branch
 [?ref :git.ref/type :git.ref.type/branch]
 (is-default-branch? ?ref)
 [?ref :git.ref/commit ?commit]
 [?commit :git.commit/sha ?commit-sha]

 ;; all base docker images from dockerhub
 [?docker-image :docker.image/sha ?commit-sha]
 [?docker-image :docker.image/from ?base-image]
 [?base-image :docker.image/tags ?tag]

 [?base-image :docker.image/repository ?repository]
 [?repository :docker.repository/repository _]
 [?repository :docker.repository/host "hub.docker.com"]

 ;; for which there is a Dockerfile that is pinned on the FROM line
 [?docker-image :docker.image/docker-file ?docker-file]
 [?from-line :docker.file.line/file ?docker-file]
 [?from-line :docker.file.from/repository ?repository]]