[:find
 (pull ?repository [:docker.repository/host
                    :docker.repository/repository])

 (pull ?from-line [:docker.file.from/tag
                   :db/id])
 :in $ $before-db %
 :where
 (or-join [?docker-file ?commit]
          ;; first push for given blob-sha
          (and
           (tx-entity-attr-value :docker.file/git-file ?docker-file ?git-file)
           [?commit :git.commit/file ?git-file])

          (and
           ;; subsequent pushes
           (tx-entity-attr-value :git.commit/file ?commit ?git-file)
           [?docker-file :docker.file/git-file ?git-file]))
 ;; head commits
 [?ref :git.ref/commit ?commit]
 [?ref :git.ref/type :git.ref.type/branch]

 ;;with from lines
 [?from-line :docker.file.line/file ?docker-file]
 [?from-line :docker.file.line/instruction "FROM"]
 ;; from related to gcr.io
 [?from-line :docker.file.from/repository ?repository]
 [?repository :docker.repository/host ?host]
 (string-match ?host "amazonaws.com" _)

 [?from-line :docker.file.from/tag _]]
