;; Copyright © 2021 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:namespace "atomist"
 :homepageUrl "https://github.com/atomist-skills/ecr-integration"
 :name "ecr-integration"
 :displayName "Elastic Container Registry"
 :description "The ECR integration enables you to pull from and publish to ECR for public or private images."
 :author "atomist"
 :license "unknown"
 :iconUrl "https://raw.githubusercontent.com/atomist-skills/ecr-integration/main/docs/images/icon.svg"
 :integration true
 :capabilities
 {:provides
  [{:name "DockerRegistry"
    :namespace "atomist"}]}
 :parameters [{:webhook
               {:name "ecr"
                :displayName "EventBridge API destination endpoint"
                :description "Copy this Webhook URL to a new API destination under the [Amazon EventBridge console](https://console.aws.amazon.com/events/home#/apidestinations). Use the Basic authorization type, and choose and enter the same username and password both below and in the Amazon console. Learn more about [creating API destinations in AWS](https://docs.aws.amazon.com/eventbridge/latest/userguide/api-destinations.html)."
                :required false
                :authorizationTypes ["httpBasic"]}}
              {:singleChoice
               {:name "region"
                :displayName "AWS region"
                :description "Select the AWS region where your API destination has been created."
                :options
                [{:description "us-east-1"
                  :value "us-east-1"
                  :text "us-east-1"}
                 {:description "us-east-2"
                  :value "us-east-2"
                  :text "us-east-2"}
                 {:description "us-west-1"
                  :value "us-west-1"
                  :text "us-west-1"}
                 {:description "us-west-2"
                  :value "us-west-2"
                  :text "us-west-2"}
                 {:description "ca-central-1"
                  :value "ca-central-1"
                  :text "ca-central-1"}
                 {:description "eu-central-1"
                  :value "eu-central-1"
                  :text "eu-central-1"}
                 {:description "eu-north-1"
                  :value "eu-north-1"
                  :text "eu-north-1"}
                 {:description "eu-west-1"
                  :value "eu-west-1"
                  :text "eu-west-1"}
                 {:description "eu-west-2"
                  :value "eu-west-2"
                  :text "eu-west-2"}
                 {:description "eu-west-3"
                  :value "eu-west-3"
                  :text "eu-west-3"}]
                :required true}}
              {:string
               {:name "role-arn"
                :displayName "Trusted Role ARN providing Atomist access to ECR"
                :description "After creating a trusted role granting Atomist access to ECR, provide the ARN to complete integration"
                :required true}}
              {:string
               {:name "external-id"
                :displayName "External ID"
                :description "random unique string (to avoid confused deputy - can we seed this?)"
                :required true}}
              {:string
               {:name "account-id"
                :displayName "AWS account ID"
                :description "Enter your account ID for AWS. Learn more about [finding your account ID](https://docs.aws.amazon.com/IAM/latest/UserGuide/console_account-alias.html#FindingYourAWSId)."
                :required true}}
              {:secret
               {:name "access-key-id"
                :displayName "Atomist Access Key Id"
                :description "TODO remove"
                :minRequired 1
                :maxAllowed 1
                :required true}}
              {:secret
               {:name "secret-access-key"
                :displayName "Atomist Secret Key Id"
                :description "TODO remove"
                :minRequired 1
                :maxAllowed 1
                :required true}}]
 :artifacts {:gcf
             [{:name "ecr-integration",
               :runtime "nodejs10",
               :memory 512,
               :timeout 60,
               :entryPoint "eventhandler"}]}}
